<div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading{{ album.vars.name }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ album.vars.name }}" aria-expanded="false" aria-controls="flush-collapse{{ album.vars.name }}">
            Accordion Item #{{ loop.index }}
        </button>
    </h2>
    <div id="flush-collapse{{ album.vars.name }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ album.vars.name }}" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            {{ form_row(album.title) }}
            {{ form_row(album.description) }}
            {{ form_row(album.picture) }}
        </div>
    </div>
</div>
