{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}
{% block body_class %}d-flex flex-column h-100{% endblock %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
        <h2 class="mt-5">Artists</h2>
        <a href="{{ path('app_artist_new') }}">Create new</a>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">actions</th>

                </tr>
                </thead>
                <tbody>
                {% for artist in artists %}
                <tr>
                    <td>{{ artist.id }}</td>
                    <td>{{ artist.name }}</td>
                    <td>
                        <a href="{{ path('app_artist_show', {'id': artist.id}) }}">show</a>
                        <a href="{{ path('app_artist_edit', {'id': artist.id}) }}">edit</a>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
