{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% form_theme form 'form/artist_theme.html.twig' %}

{% block body %}
    <div class="container">
        <h4 class="mt-5 d-inline p-2">Create new Artist</h4>
        <a class="d-inline p-2 float-end" href="{{ path('app_artist_index') }}">back to list</a>

            {#{{ include('artist/_form.html.twig') }}#}
            {{ form_start(form) }}
            <div class="row g-5">
                {{ form_row(form.name) }}
                {{ form_row(form.profile_picture) }}
                {{ form_row(form.albums) }}

            </div>

            {{ form_end(form) }}
        </div>



    <script>

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');
            item.className = "accordion-item"

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            item
                .querySelectorAll('.delete_item_link')
                .forEach(btn => {
                    btn.addEventListener("click", function (e) {
                        e.preventDefault();
                        item.remove();
                    })
                });

            collectionHolder.appendChild(item);
            collectionHolder.dataset.index++;
        };

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

    </script>
{% endblock %}
